exportPattern("^[[:alpha:]]+")
import(quantreg,foreach)
importFrom("stats", "coef", "formula", "glm", "pnorm", "predict", "reshape", "runif", "sd", "vcov")
importFrom("utils", "write.table")
importFrom("parallel","makeCluster","stopCluster")
importFrom("doParallel","registerDoParallel")
importFrom("stringr", "str_split")

S3method(summary,bootwrq)
